body {
  margin-bottom: 10%;
}

.title {
  font-weight: bold;
  margin-left: 5%;
  font-size: 1em;
}

.headline {
  margin-top: 30px;
  font-weight: bold;
}

input[type='text'] {
  margin-top: 20px;
  width: 80%;
  margin-left: 10%;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: all .2s ease;
}

input[type='text']:focus{
  -webkit-box-shadow: none;
  border: none;
  border-bottom: solid 2px #969696;
}

.headline input[type='text']{
  font-size: 2em;
  height: 2em;
}

.dates {
  margin-left: 10%;
  width: 80%;
}

.dates h3 {
  display: inline;
  margin-right: 2%;
  color: #969696;
  width: 10%;
}

.dates input {
  width: 18%;
  margin-left: 0;
}

.dates-fields {
  display: inline-block;
  margin-bottom: 10px;
}

.dates-fields span {
  width: 79px;
}

.dates-fields span h3{
  font-size: 12px;
}

.dates-fields select {
  min-width: 50px;
}

.display-date input[type='text'] {
  font-size: 1em;
  height: 2em;
}

#submit-bar{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.edit-modes div {
  display: inline-block;
  width: 49.4%;
  height: 40px;
  text-align: center;
  line-height: 50px;
  border-bottom: 3px solid #E0E0E0;
  transition: all .2s ease;
}

.edit-modes div:hover,
.edit-modes div.current-mode{
  background-color: #E0E0E0;
  border-bottom: 3px solid #9E9E9E;
  cursor: pointer;
}

.refresh-rows {
  text-align: center;
  margin-top: 20px;
}

.row-select {
  font-weight: bold;
  margin-left: 10%;
  margin-bottom: 0;
}

.edit-select {
  height: 110px;
  overflow-y: scroll;
  width: 90%;
}

.edit-select-list li{
  list-style-type: none;
  transition: all .2s ease;
  border-left: 4px solid #e0e0e0;
  padding-left: 4px;
}

.edit-select-list li#add-row {
  border-left: 4px solid #00C853;
}

.edit-select-list li:hover,
.edit-select-list li.selected{
  background-color: #E0E0E0;
  cursor: pointer;
  border-left: 4px solid #9e9e9e;
}

.edit-select-list li#add-row:hover,
.edit-select-list li#add-row.selected {
  background-color: #00C853;
  color: white;
  border-left: 4px solid #2E7D32;
}
